In [20]:
#!pip install xgboost
#!pip install seaborn

Requirement already satisfied: seaborn in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\michael\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 25.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [21]:
# import the libraries needed
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import precision_score, recall_score, f1_score
import xgboost as xgb
import pandas as pd
import seaborn as sns

In [22]:
data=pd.read_csv('customer_churn_prediction_dataset.csv')

In [23]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0001-XXXX,Male,0,Yes,Yes,5,No,Yes,No,No,...,No,No,No,No internet service,Month-to-month,Yes,Credit card,27.43,137.15,Yes
1,0002-XXXX,Female,0,No,No,42,Yes,No phone service,DSL,Yes,...,No,No,No internet service,No internet service,Two year,No,Electronic check,38.28,1607.76,Yes
2,0003-XXXX,Male,0,No,No,61,Yes,No phone service,No,No,...,No,Yes,Yes,No,One year,No,Bank transfer,106.44,6492.84,Yes
3,0004-XXXX,Male,1,No,Yes,22,Yes,No,No,No internet service,...,Yes,No,No internet service,Yes,Month-to-month,No,Electronic check,92.49,2034.78,No
4,0005-XXXX,Male,1,Yes,Yes,21,No,No,DSL,No,...,No internet service,No,No,No internet service,One year,No,Bank transfer,19.63,412.23,Yes

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        300 non-null    object
 1   gender            300 non-null    object
 2   SeniorCitizen     300 non-null    int64
 3   Partner           300 non-null    object
 4   Dependents        300 non-null    object
 5   tenure            300 non-null    int64
 6   PhoneService      300 non-null    object
 7   MultipleLines     300 non-null    object
 8   InternetService   300 non-null    object
 9   OnlineSecurity    300 non-null    object
 10  OnlineBackup      300 non-null    object
 11  DeviceProtection  300 non-null    object
 12  TechSupport       300 non-null    object
 13  StreamingTV       300 non-null    object
 14  StreamingMovies   300 non-null    object
 15  Contract          300 non-null    object
 16  PaperlessBilling  300 non-null    object
 17  PaymentMethod     300 non-null    object
 18  MonthlyCharges    300 non-null    float64
 19  TotalCharges      300 non-null    float64
 20  Churn             300 non-null    object
dtypes: float64(2), int64(2), object(17)
memory usage: 49.3+ KB

# no need to import but do need to encode the data due to the fact that there are different types of data 

-Gender will be intger encoded

In [ ]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

int_encode_cols = ['colA', 'colB']
onehot_encode_cols = ['colC', 'colD']

encoder = LabelEncoder()

for col in int_encode_cols:
    data[col] = encoder.fit_transform(data[col])

data = pd.get_dummies(data, columns=onehot_encode_cols, drop_first=True)

# Visualizations we will use pair plot to determine which ones to train over

In [ ]:
features= data.drop(['Churn'],axis=1)
df = data.copy()
df['Churn'] = Y

# Only numeric features (pairplot can't handle strings)
df_numeric = df.select_dtypes(include=['number'])

# Pair plot
sns.pairplot(
    df_numeric,
    hue='Churn',
    diag_kind='hist',
    palette='Set1'
)

plt.show()

# Now choose columns for target(Y) and features(X)

In [ ]:
#Create the distinction
Y = data['Churn']
X=data.drop(['Churn'],axis=1)